<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942737089188-a6v4p5fac3q0n5np8lc82v5lsqgakdhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942737089188-a6v4p5fac3q0n5np8lc82v5lsqgakdhj</string>
	<key>API_KEY</key>
	<string>AIzaSyDJWW91933luLWey7Lh5buXnFKcF1tIO2M</string>
	<key>GCM_SENDER_ID</key>
	<string>942737089188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>duytran.AppThuChi</string>
	<key>PROJECT_ID</key>
	<string>apthuchi</string>
	<key>STORAGE_BUCKET</key>
	<string>apthuchi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942737089188:ios:b386be6acf577b832cbc31</string>
</dict>
</plist>